/*

Editor Stylesheet : Wordpress Administration style

*/

.editor-styles-wrapper {
    @include font-weight(regular);
    @include font-size(text);
    color: $default-text-color;
    line-height: $lh-standard;
    font-family: $font-text;
    background: red;
}

.wp-block,
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
    max-width: 80%;
    width: 80%;
}