/*

Style Topbar [header.php]

File structure :
------------------
1 - Topbar settings
------------------
2 - Mobile Menu
    2.1 : Menu Layout : hidden
    2.2. Menu layout : visible
    2.3 : Links Style
    2.4 : Close button
    2.5 : Burger button
------------------
3 - Menu Desktop
  3.1 - Menu Layout
  3.2 - Links style
------------------
4 - x

*/


/* 1 - Topbar settings
------------------ */

#topbar {
    width: 100%;
    box-sizing: border-box;
    z-index: $index-navigation;
    //position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: $tablet-width) {
        align-items: end;
    }
    // 1.1 - Topbar Style
    background: $white;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
    @include spacing (padding-left, $horizontal-padding-regular);
    @include spacing (padding-right, $horizontal-padding-regular);
    padding-top: 1rem;
    padding-bottom: 1rem;
    // 1.2 - logo Style
    #topbar-logo {
        >* {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            height: auto;
            max-width: 100%;
            width: 7rem;
            @media screen and (min-width: $tiny-width) {
                width: 7rem;
                @media screen and (min-width: $tablet-width) {
                    width: 7rem;
                }
            }
        }
    }
    // 1.3 - Reset List style
    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    // 1.4 - menu primary : Text Links
    ul.primary, ul.member {
        color: $brand-black;
        font-family: $font-title;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        @media screen and (min-width: $tablet-width) {
            font-size: pixel(18);
        }
        a {
            @include link-discrete;
        }
        >li {
            display: block;
            text-align: left;
            margin-bottom: 0.5rem;
            @media screen and (min-width: $tablet-width) {
                display: inline-block;
                margin-left: 1.5rem;
                margin-bottom: 0;
            }
        }
        // Sub-menu
        .menu-item-has-children {
            // Mobile Style : List
            @media screen and (max-width: $tablet-width - 1) {
                display: flex;
                flex-direction: column;
                .sub-menu {
                    background-color: darken($gray-light, 3);
                    font-size: 0.75em;
                    margin-top: 0.5rem;
                    li {
                        padding: 0.25em;
                        // Bigger space for smartphones
                        @media screen and (max-width: $tiny-width - 1) {
                            padding: 0.5em;
                        }
                        padding-left: 1em;
                    }
                    li:not(:first-child) {
                        border-top: 1px solid $gray-light;
                    }
                }
            }
            // Desktop Style : Dropdown
            @media screen and (min-width: $tablet-width) {
                position: relative;
                text-align: left;
                .sub-menu {
                    min-width: pixel(140);
                    padding-top: 3rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    clip: rect(1px, 1px, 1px, 1px);
                    clip-path: inset(50%);
                    height: 1px;
                    margin: -1px;
                    width: 1px;
                    word-wrap: normal !important;
                    transition: .2s opacity;
                    font-size: 1rem;
                    opacity: 0;
                    li:first-child {
                        border-top: 2px solid $brand-blue;
                    }
                    li {
                        border: 1px solid $gray-light;
                        border-top: none;
                        padding: 0.5em;
                        background: white;
                    }
                }
                >a {
                    position: relative;
                    z-index: $index-navigation + 10;
                    &::after {
                        content: url(./image/angle-down.svg);
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 0.25em;
                    }
                }
                &:hover .sub-menu,
                &:focus .sub-menu,
                &:focus-within .sub-menu {
                    clip: auto !important;
                    clip-path: none;
                    height: auto;
                    line-height: normal;
                    text-decoration: none;
                    width: 100%;
                    margin: auto;
                    z-index: $index-navigation;
                    opacity: 1;
                }
            }
        }
        /*
        .current-menu-item > a {
            text-decoration: underline;
        }
        .primary >li:last-of-type {
            > a {
                //@include button-ghost;
            }

            &.current-menu-item {
                > a {
                    //@include button-cta;
                    text-decoration: none;
                }
            }

        }*/

        & > li.pink > a{
            color:$red;
        }

    }
    // 1.4 - menu second : buttons
    ul.second, ul.second-member {
        padding-bottom: 1rem;
        li {
            display: inline-block;
            margin-left: 1rem;
            @media screen and (max-width: $tablet-width) {
                margin-bottom: 0.5rem;
            }
        }
        a {
            @include button;
        }
        li:last-child a {
            @include button-red;
        }
    }
    #menu {
        text-align: right;
    }
    /* 2 -  Mobile Menu
    ------------------ */
    @media screen and (max-width: $tablet-width - 0.01rem) {
        // 2.1 : Menu Layout : hidden
        #menu {
            @include spacing(padding, $horizontal-padding-regular);
            overflow: scroll;
            text-align: center;
            position: fixed;
            z-index: $index-navigation;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100vw;
            min-height: 100vh;
            height: 100%;
            box-sizing: border-box;
            transform: translate(100%, 0%);
            opacity: 0;
            background: $gray-light;
            //transition: all 0.6s;
            margin: 0;
            // 2.2. Menu layout : visible
            &:focus,
            &.menu-open {
                //overflow: visible;
                opacity: 1;
                transform: translate(0%, 0%);
                z-index: 999;
            }
        }
        // 2.4 : Close button
        #close-menu {
            height: 10vh;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            // Style
            >button {
                line-height: 0;
                height: 2.25rem;
                width: 2.25rem;
                border-radius: 50%;
                transition: background-color .2s;
                &:hover,
                &:focus {
                    background-color: $color-primary;
                }
                /*
                &:active {
                    background-color : $color-secondary;
                }
                */
                >img {
                    object-fit: contain;
                    margin: 0;
                }
            }
        }
        // 2.5 : Burger button
        #burger-menu {
            transition: background-color .2s;
            padding: 0.35rem 0.25rem;
            border-radius: 4px;
            line-height: 0;
            &:hover,
            &:focus {
                background-color: $gray-light;
            }
            /*
            &:active {
                background-color : $brand-black;
            }
            */
            >img {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }
    }
}