/*

Style links & buttons

Text Link :
  Base : interactive states
  Style 1 : Link-default 
  Style 2 : Link-discrete  

Button :
  Base : interactive states
  Style 1 : Button
  Style 2 : Red button
  Style 3 : Icons

*/


/* ----- Text Link ------*/

// Base : interactive states
@mixin link-interactivity {
    transition: .2s all;
    &:hover,
    &:focus,
    &:focus-within {
        color: $color-primary;
        text-decoration: underline;
        background: $white; // readable on colored background
    }
    &:active {
        color: $color-secondary;
        text-decoration: underline;
        background: $white; // readable on colored background
    }
}

// Style 1 : Link-default 
@mixin link-default {
    color: $color-primary;
    text-decoration: none;
    &:visited {
        color: $color-primary;
    }
    @include link-interactivity;
}

a,
.link-default {
    @include link-default;
}

// Style 2 : Link-discrete  
@mixin link-discrete {
    color: inherit;
    text-decoration: none;
    &:visited {
        color: inherit;
    }
    @include link-interactivity;
}

.link-discrete {
    @include link-discrete;
}

// Style 3 : Link-underlined  
@mixin link-underlined {
    color: inherit;
    text-decoration: underline;
    &:visited {
        color: inherit;
    }
    @include link-interactivity;
}

.link-underlined {
    @include link-underlined;
}


/* ----- Buttons ------*/

// Base : interactive states
@mixin button-interactivity {
    transition: .2s all;
    &:hover,
    &:focus,
    &:focus-within {
        background-color: $brand-black;
        color: $white;
    }
    &:active {
        background-color: $color-secondary;
        color: $white;
    }
    &:disabled {
        background-color: $gray-dark;
        color: $white;
    }
}

// Style 1 : Button 
@mixin button-base {
    display: inline-block;
    text-decoration: none;
    font-family: $font-title;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    min-width: 4rem;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    @include button-interactivity;
}

@mixin button {
    color: $white;
    background-color: $brand-blue;
    &:visited {
        background-color: $red;
        color: $white;
    }
    @include button-base;
}

.button {
    @include button;
}

// Style 2 : Red Button 
@mixin button-red {
    color: $white;
    background-color: $red;
    &:visited {
        background-color: $brand-red;
        color: $brand-black;
    }
    @include button-base;
}

.button-red,
.button-yellow {
    @include button-red;
}

// Style 3 : Icons
// Used in footer and post-infos
@mixin link-icon {
    transition: all .2s;
    text-decoration: none;
    display: inline-block;
    margin-right: 0.5rem;
    padding: pixel(1);
    line-height: 0;
    &:last-of-type {
        margin-right: 0;
    }
    &:link,
    &:visited {
        background: transparent;
    }
    &:hover,
    &:focus,
    &:focus-within {
        opacity: 0.75;
        /*background-color: $color-primary;
      color: $white;
      * {
        filter: brightness(10);
      }*/
    }
    &:active {
        /*background-color: $color-secondary;
    color: $white;
    * {
      filter: brightness(10);
    }*/
    }
}

.link-icon {
    @include link-icon;
}