/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Form Layout
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/

// 1 - form Layout
form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    label,
    .form-item {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
    .form-sub-item {
        margin-top: 0.5rem;
    }
    .form-row {
        display: flex;
        flex-flow: row wrap;
        >input {
            width: 100%;
            max-width: 100%;
            flex: 1 1 content;
        }
    }
    .login-submit,
    .button {
        margin-left: auto;
        margin-right: auto;
    }
    .select {
        width: 100%;
        max-width: 100%;
    }
}

// Space between label and input when they are on the same row
.space-right {
    padding-right: 0.5rem;
}

.form-alert,
.form-info,
.wpcf7-form {
    border-left: 1px solid currentColor;
    padding-left: 1rem;
    font-size: pixel(12);
    margin-top: 1rem;
    margin-bottom: 0;
}

.form-info {
    color: $brand-blue;
}

.form-alert {
    color: $red;
}

.form-legal-text {
    color: $brand-black;
    text-align: left;
    font-size: pixel(12);
    margin: 1rem auto;
}

.form-style,
.wpcf7-form {
    margin-top: 1rem;
    width: 100%;
    max-width: pixel(600);
    background: $white;
    border: 1px solid $gray-medium;
    border-radius: 0.5rem;
    padding: 2rem 0.5rem;
    @media screen and (min-width: $tiny_width) {
        padding: 2rem 1rem;
        @media screen and (min-width: $mobile_width) {
            padding: 0 2rem;
        }
    }
}

.form-white,
.form-style,
.wpcf7-form {
    box-sizing: border-box;
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
        background-color: $gray-light;
        &:not(:placeholder-shown) {
            border-color: $gray-light;
        }
    }
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}input[type="number"]{-moz-appearance:textfield}

// 2 - Input Style
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    @include font(text, regular);
    line-height: $lh-small;
    background-color: $gray-light;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 4px;
    padding: 0.5em;
    width: 100%;
    transition: all .2s;
    background-color: $white;
    &::placeholder {
        color: $gray-dark;
        opacity: 0.5;
        transition: all .2s;
    }
    &:not(:placeholder-shown) {
        background-color: $gray-light;
        &:invalid {
            color: $red;
            border-color: $red;
        }
        /*
        &:not(:invalid) {
            color: $green;
            border-color: $green;
        }
        */
    }
    
    &:invalid {
        &:not(:focus)
        {
            color: $red;
            border-color: $red;
        }
    }
    
    &:hover {
        border-color: darken($color-primary, 20);
    }
    &:focus {
        background-color: $white;
        color: $color-primary;
        border: 2px solid $gray-light;
        border-color: $color-primary;
        &::placeholder {
            opacity: 0.25;
        }
    }
}

// No laceholder for datetime input
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="number"],
input[type="datetime-local"] {
    //&:not(:placeholder-shown) {
        background-color: $gray-light;
        &:invalid {
            color: inherit;
            border-color: $gray-light;
            &:focus {
                color: $red;
                border-color: $red;
            }
        }
    //}
}



// 2.1 - Submit
//input[type="submit"] {}
label,
.label-like {
    @include font(label, bold);
    font-family: $font-text;
    color: $brand-black;
}

#bilanForm{
    select:invalid {
        border: solid 1px $red;
    }
}