/*

Gutenberg editorial blocks

*/
.blk-counter{
    .button-yellow{
        margin:0 .5em;
        font-size:1.8rem;
        &:hover{
            color:$black;
            background-color: $brand-yellow;
        }
    }
}