/*

Gutenberg editorial blocks

*/

.blk-button {
    font-size: pixel(20);
    a {
        margin: 0 0.5rem;
    }
    a:nth-of-type(1) {
        margin-bottom: 1rem;
    }
}

.blk-download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (min-width: $tiny_width) {
        flex-direction: row;
    }
    img,
    picture {
        width: pixel(100);
        height: auto;
        margin: 0;
        @media screen and (min-width: $mobile_width) {
            width: pixel(200);
        }
    }
    .txt-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        @media screen and (max-width: $tiny_width) {
            padding-top: 1rem;
        }
        @media screen and (min-width: $tiny_width) {
            padding-left: $gutter;
        }
        * {
            margin-top: 0;
            margin-bottom: 0.5rem;
            @media screen and (min-width: $tiny_width) {
                margin-bottom: 1rem;
            }
        }
    }
    .button {
        width: max-content;
        //margin: auto; // Center
        margin-bottom: 2rem;
    }
}

.blk-event {
    min-height: 100vh;
    position: relative;
    color: $white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .txt-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        * {
            margin-top: 0;
            margin-bottom: 1rem;
            font-family: $font-title;
            line-height: $lh-small;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .event-date,
        .event-title,
        .event-txt {
            padding: 0.25em 0.5em;
        }
        .event-date,
        .event-txt {
            @media screen and (max-width: $mobile_width) {
                @include font-size(h1-mobile);
            }
            @media screen and (min-width: $mobile_width) {
                @include font-size(h1);
            }
        }
        .event-title {
            @include font(h2);
            color: $brand-black;
            background: $white;
        }
        .event-txt {
            //color: $white;
            color: $brand-black;
            background: $brand-yellow;
            @media screen and (min-width: $tablet_width) {
                transform: rotate(2deg);
            }
        }
        .event-date {
            //@include font(h1);
            //color: $white;
            color: $brand-black;
            background: $brand-red;
            @media screen and (min-width: $tablet_width) {
                transform: rotate(-2deg);
            }
        }
        .button {
            margin-top: 2rem;
        }
    }
    .img-content {
        position: absolute;
        z-index: -1; // Below text
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $brand-blue;
        img,
        picture {
            margin: auto; // center
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: $brand-blue;
        }
    }
}

.blk-img-fullscreen {
    width: 100%;
    img,
    picture {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.blk-img-standard {
    @include wrapper;
    img,
    picture {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.blk-txt {
    .title,
    .title *,
    .content,
    .content * {
        margin: 0;
    }
    .title {
        margin-bottom: 0.5em;
    }
    .content strong {
        display: block;
        color: $brand-blue;
        font-family: $font-title;
        font-size: pixel(20);
        margin-bottom: 1rem;
    }
}

.blk-page-title {
    position: relative;
    &.has-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include v-padding-regular;
        min-height: 60vw;
        @media screen and (min-width: $mobile_width) {
            min-height: 40vw;
            @media screen and (min-width: $tablet_width) {
                min-height: pixel(460);
            }
        }
        h1 {
            color: $white;
            filter: drop-shadow(0 0 10px $brand-black);
        }
    }
    // &.no-image {
    //     //
    // }
    h1 {
        margin: 0;
    }
    .img-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        * {
            min-width: 100%;
            height: auto;
            min-height: 100%;
            object-fit: cover;
        }
    }
}

.blk-txt-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;
    align-items: start;
    // Mobile : 2 columns
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
        >img,
        >picture,
        .txt-content {
            grid-row: 1;
            margin-top: 0;
            margin-bottom: 0;
        }
        // if image-position : left
        &.img-left {
            >img,
            >picture {
                grid-column: 1 / 2;
            }
            .txt-content {
                grid-column: 2 / 3;
            }
        }
        // Tablet : 2 columns
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: 2fr 1fr; // total : 3 columns
            // if image-position : left
            &.img-left {
                grid-template-columns: 1fr 2fr;
            }
            @media screen and (min-width: $tablet_width) {
                grid-template-columns: 5fr 3fr; // total : 8 columns
                &.img-left {
                    grid-template-columns: 3fr 5fr;
                }
            }
        }
    }
    .txt-content {
        * {
            margin: 0;
            margin-bottom: 1em;
        }
    }
}


/*--------- Block Mission -----------*/

// We need a fixed width for this trick
$blk-mission-width: pixel(460);
$blk-mission-width-breakpoint: (2 * $blk-mission-width)+( 4 * map-get($horizontal-padding-regular, $mobile_width));
// Block mission
.blk-mission {
    // 1 element / line
    width: 100%;
    box-sizing: border-box;
    // 2 elements / line
    @media screen and (min-width: $blk-mission-width-breakpoint) {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        &:nth-of-type(even) {
            text-align: left;
        }
        // Mission-card position 
        &:nth-of-type(odd)>.mission-card {
            margin-right: 0;
        }
        &:nth-of-type(even)>.mission-card {
            margin-left: 0;
        }
    }
    // Team name
    @media screen and (min-width: $tiny_width) {
        .has-subtitle {
            display: grid;
            grid-template-columns: auto 4rem;
            align-items: end;
            .subtitle {
                text-align: right;
            }
        }
    }
    // Card style
    .mission-card {
        max-width: $blk-mission-width;
        box-sizing: border-box;
        margin: auto;
        padding-right: $gutter/2;
        padding-left: $gutter/2;
        .img-content {
            min-height: 8rem;
            height: auto;
            position: relative;
            z-index: -1;
            border-top-left-radius: pixel(48);
            overflow: hidden;
        }
        .img-content * {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
        .txt-content {
            margin-top: -6rem;
            padding: 0 0.5rem;
            @media screen and (min-width: $tiny_width) {
                padding: 0 2rem;
            }
        }
        .txt {
            background: $white;
            padding: 1em;
            * {
                margin-top: 0;
                margin-bottom: 1em;
            }
        }
    }
}

// Last .blk-mission on desktop : centered
@media screen and (min-width: $blk-mission-width-breakpoint) {
    .blk-mission:last-of-type:nth-of-type(odd) {
        width: 100%;
        .mission-card {
            margin: auto;
        }
    }
}


/*--------- Block text 2P -----------*/
.container2P {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gutter;

        @media screen and (max-width: $mobile_width){
            grid-template-columns: 1fr;
        }

}

/*--------- Block text 3P -----------*/
.container3P {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gutter;

        @media screen and (max-width: $mobile_width){
            grid-template-columns: 1fr;
        }
}


// .paragraphe3 {
//     display: inline-block;
//     flex-direction: row;
//     justify-content: space-between ;
//     max-width: 25%;
//     margin: 1em;

//     // @media screen and (max-width: 938px) {
//     //     //display: block;
//     //     max-width: 100%;
//     //     margin: auto;
//     // }

// }