// Cleanup Title
#cleanup-header {
    @include v-padding-regular;
}

#cleanup-layout {
    display: grid;
    grid-template-areas: "content" "infos";
    grid-gap: $gutter;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: auto 300px;
        grid-template-areas: "content infos";
    }
}

#cleanup-content {
    grid-area: content;
}

#cleanup-infos {
    grid-area: infos;
    @media screen and (max-width: $mobile_width - 1) {
        padding-top: 2rem;
    }
    @media screen and (min-width: $mobile_width) {
        //text-align: right;
    }
    .buttons-container {
        >* {
            margin: 0 0.5rem 0.5rem 0.5rem;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    #share {
        /*display: flex;
        flex-flow: row wrap;
        align-items: center;*/
        padding-top: 2rem;
        @media screen and (min-width: $mobile_width) {
            justify-content: flex-end
        }
        p {
            margin: 0;
            padding-right: 1rem;
        }
    }
}