.cleanup-card {
    padding: 0 0 2.5rem 0;
    border-bottom: 3px dotted $brand-blue;
    // mobile
    @media screen and (max-width: $mobile_width - 1) {
        &:last-child {
            border: none;
            padding-bottom: 0;
        }
    }
    // desktop
    @media screen and (min-width: $mobile_width) {
        padding: 0 2rem 2em 0;
        //border-bottom: none;
        border-bottom: 3px dotted $brand-blue;
    }
    .cleanup-date {
        @include font(text, bold);
        color: $brand-black;
    }
    display: block;
    >* {
        display: block;
        margin-top: 0;
    }
}

// Variant : cleanup displayed in organizer admin 
.cleanup-card.organizer-view {
    border-right: none;
    padding: 1rem 0 1rem 0;
    border-bottom: 3px dotted $brand-blue;
    &:last-child {
        border: none;
    }
    display: flex;
    // mobile
    flex-direction: column;
    align-content: start;
    justify-content: start;
    // desktop
    @media screen and (min-width: $mobile_width) {
        flex-direction: row;
        justify-content: space-between;
    }
    .info-container {
        flex: 1 1 auto;
        >* {
            margin: 0;
        }
        >*:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    .btn-container {

        form {
            display: inline-block;
            margin: 0 1rem 0.5rem 0;
            max-width: 6rem;
            height: 2.75rem;
            button {
                height: 100%;
                width: max-content;
            }
        }

        flex: 0 1 1;
        // mobile
        @media screen and (max-width: $mobile_width) {
            padding-top: 1rem;
        }
    }
    .btn-container>*:not(:last-child) {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
}