.embassy-card {
    background : white;
    min-height: 20px; // test
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0.75rem 2.5rem;
    border-right: 3px dotted $brand-blue;
    * {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    button {
        margin-top: 1.5rem;
    }
}

.embassy-structure,
.embassy-name {
    font-family: $font-title;
    line-height: $lh-small;
    @include font(h3, regular);
    color: $brand-blue;
}

.embassy-structure {
    text-transform: uppercase;
}

.embassy-level {
    color: $brand-black;
    @include font(text, bold);
}

// Modale window
.embassy-modale {
    * {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    strong {
        color: $brand-black;
    }

    button {
        margin: auto;
        margin-top: 1.5rem;
    }
}