.filters-embassy,
.filters-cleanup {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
        
    .filters {
        padding-bottom: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: start;
        @media screen and (min-width: $mobile_width) {
            flex: 1 1 auto;
            justify-content: start;
        }
    }

    .filters > * {
        margin: 0;
        margin-bottom: 1rem;
        flex: 1 1 auto;
        max-width: 100%;
        @media screen and (min-width: $mobile_width) {
            flex: 1 1 auto;
            max-width: pixel(260);
            margin-right: 1rem;
        }
    }

    input[type="text"] {
        border-color: $gray-light;
        &:hover,
        &:focus {
            border-color: $brand-blue;
        }
    }

    .button {
        flex: 0 0 1;
        margin: 0;
    }
}

.listing-embassy {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;
    grid-auto-rows: auto;
    justify-items: start;
    align-items: stretch;

    @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}