.organizer-admin-header {
    text-align: center;
    background-color: $gray-light;
    @include v-padding-regular;
    @include spacing(margin-bottom, $vertical-padding-regular);

    .button {
        margin-top: 1rem;
    }
}

.organizer-admin-infos,
.form-container form {
    @extend .form-style;
}

.lost-pswd {
    display: block;
    width: 100%;
    text-align: center;
    //margin-top: 1rem;
}