.page-navigation {
    margin: auto;
    padding-top: 2rem;
    text-align: left;
    @media screen and (min-width: $tiny-width) {
        text-align: center;
        padding-top: 4rem;
    }    

    ul, li {
        margin : 0;
        padding: 0; 
        list-style: none;
        display: inline-block;
    }

    li > a,
    .current-cat {
        margin-right: 1.5rem;
        @media screen and (min-width: $tiny-width) {
            margin-right: 0.75rem;
            margin-left: 0.75rem;
        }   
    }

    .current-cat {
        text-decoration: underline;
        color: $brand-black;
    }

    .previous,
    .next {
        @include font-weight(bold);
    }
}